<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/favicon.ico' type='image/x-icon' />
  </head>
  <body>
      <b><span><%= autor %></span></b>
      <br>
      <br>
      <img src='/images/photo.jpg' alt='Autor' height='62' width='62'>
      <br>
      <br>
      <video width="240" height="200" controls>
        <source src="/videos/gato.mp4" type="video/mp4">
        <source src="/videos/gato.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
  </body>
</html>
